<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>


<div class="container"style="padding:40px; width: 400px; background: #000000; color: #ffffff;  border-radius: 10px;">
  <div style="display:flex; flex-wrap:wrap;">
    <a href="https://imgbb.com/" align="center" style="margin: auto;"><img src="https://i.ibb.co/P9H7MTz/white-logo.png" alt="white-logo" border="0" /></a>
  </div>
  <h2 class="" style="text-align:center; font-family: arial; font-weight: 200;"> <%= @email %> Has registered to join your site!</h2>
  <p style="text-align:center; font-family: arial; font-size: 14px; color: darkgrey;">An admin can approve this registration by visiting the website and editing the user</p>
  <div style="display:flex; flex-wrap:wrap; padding-top:30px;">
    <a href="https://projects.invisionapp.com/share/HPPIV8EF6DA#/screens/352373187"style="margin: auto; font-family:arial; text-decoration:none; color:#ffff; padding:5px 15px; font-size:15px; border-radius: 8px; box-shadow: 0 19px 28px 0 rgba(200, 0, 255, 0.19); background-image: linear-gradient(286deg, #7f00ff, #e100ff);" >
      Link to page
    </a>
  </div>
</div>

</body>
</html>
