<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>


  <p><%= @email %> has registered to join your site!</p>
  <p>An admin can approve this registration by visiting the website and editing the user</p>

<a href="https://projects.invisionapp.com/share/HPPIV8EF6DA#/screens/352373187" class="button_to_page">Link to page</a>


</body>
</html>
